on: [push]

name: Testing

permissions:
  id-token: write
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest
    environment: Testing
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: Deploy ARM template
        uses: azure/arm-deploy@v1
        with:
          subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          resourceGroupName: ${{ secrets.AZURE_RG_NAME }}
          template: ./deploy/testing/template.json
          parameters: ./deploy/testing/parameters.json branchName=${{ github.ref_name }}
          deploymentMode: Complete
          deploymentName: acr-cleanup-testing
      - name: Login to ACR
        run: az acr login --name cracrcleanupcitest
      - name: Pull test images
        run: docker pull busybox:1.35 && docker pull busybox:1.34 && docker pull busybox:1.33
      - name: Retag and push images
        run: |
          docker tag busybox:1.33 cracrcleanupcitest.azurecr.io/test:latest && docker push cracrcleanupcitest.azurecr.io/test:latest
          docker tag busybox:1.34 cracrcleanupcitest.azurecr.io/test:latest && docker push cracrcleanupcitest.azurecr.io/test:latest
          docker tag busybox:1.35 cracrcleanupcitest.azurecr.io/test:latest && docker push cracrcleanupcitest.azurecr.io/test:latest
      - name: Wait for ACR Cleanup
        run: sleep 90
      - name: Check for untagged manifests (must be zero)
        run: "[ $(az acr repository show-manifests --name cracrcleanupcitest --repository test --query '[?tags[0]==null]' | jq -r '.[].digest' | wc -l) -eq 0 ]"
      - name: Clean up ARM deployment
        if: always()
        uses: azure/arm-deploy@v1
        with:
          subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          resourceGroupName: ${{ secrets.AZURE_RG_NAME }}
          template: ./deploy/testing/cleanup-template.json
          deploymentMode: Complete
          deploymentName: acr-cleanup-testing-cleanup
